/*----------------------------------------*/
/*  40 - Pages - FAQ
/*----------------------------------------*/
.frequently-area {
	padding: 75px 0 65px;
	.frequently-content {
		.frequently-desc {
			margin-bottom: 25px;
			h3 {
				font-weight: $body-font_weight;
				text-transform: capitalize;
				padding-bottom: 15px;
				line-height: 32px;
				font-size: 25px;
				margin-bottom: 0;
				@include breakpoint(max-small){
					font-size: 20px;
				}
			}
			p {
				margin: 0;
				font-size: 14px;
			}
		}
	}
	.frequently-accordion {
		.actives {
			border: 1px solid $primary-color;
		}
		.card {
			border-radius: 0;
			margin-bottom: 15px;
		}
		.card-header {
			padding: 0;
			margin-bottom: 0;
			background-color: $white-smoke_color;
			border: 0;
			a {
				font-weight: $body-font_weight;
				padding: 15px 10px 15px 25px;
				text-transform: capitalize;
				line-height: 24px;
				cursor: pointer;
				display: block;
				@include breakpoint(max-small){
					font-size: 14px;
				}
				&:hover {
					color: $primary-color !important;
				}
				&.collapsed {
					&:before {
						content: "\f067";
						font-family: 'Font Awesome 5 Free';
						font-weight: 600;
						position: absolute;
						right: 15px;
						top: 15px;
						color: $bg-silver_color;
						@include breakpoint (xx-small) {
							display: none;
						}
					}
				}
				&:after {
					content: "\f068";
					font-family: 'Font Awesome 5 Free';
					font-weight: 600;
					position: absolute;
					right: 15px;
					top: 15px;
					color: $bg-silver_color;
					@include breakpoint (xx-small) {
						display: none;
					}
				}
			}
		}
	}
}
